/****************************
Eric Meyer's CSS reset
****************************/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/****************************
HEADER
****************************/

.html {
  background: url('../img/background.jpg') no-repeat fixed 100% 100%;
  opacity: .9;
  height: 100%;
}

.body {
  background: hsla( 0, 70%, 50%, .7 );
  border: thin solid;
  margin: 20px 25%;
  padding: 50px 0;
  border-radius: 20px;
  border-color: hsla( 0, 70%, 50%, .7 );
}

.header {
  margin: 20px auto 10px;
  width: 30%;
  height: 100px;
  color: #fff;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: Montserrat, sans-serif;
  padding-top: 30px;
  font-weight: 700;
  word-spacing: 10px;
}

.hot {
  color: red;
}

.cold {
  color: cyan;
}

body p {
  text-align: center;
  width: 50%;
  color: #fff;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-style: italic;
}

form {
  display: block;
  margin: 20px auto;
  color: #fff;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  font-weight: 400;
}


input {
  width: 150px;
  height: 40px;
  border: #fff thin solid;
  display: block;
  margin: 10px auto;
  padding: 0 10px;
  border-radius: 5px;
}

input:hover {
  border: thin solid blue;
}

#submit,
.newGame {
  display: inline-block;
  margin: 20px;
  padding: 10px 10px 15px;
  font-family: Montserrat, sans-serif;
  font-size: 1em;
  background: blue;
  color: #fff;
  border: thin solid blue;
  border-radius: 5px;
  text-decoration: none;
}

.newGame {
  text-decoration: none;
  padding: 10px 15px;
}

#submit:hover,
.newGame:hover {
  background: #fff;
  color: blue;
  border: blue thin solid;
}

#user-feedback {
  font-size: 1.2em;
  border: thin solid;
  border-color: blue;
  background: blue;
  width: 25%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
}